.card{
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

.producto-card {
    width: 300px;
    min-height: 250px;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: white;
}

.producto-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.img-container {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-card {
    max-height: 250px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.img-card:hover {
    transform: scale(1.05);
}
