#carousel {
    margin: 4rem auto;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .carousel {
        height: 8rem;
        max-height: 9rem;
    }

    .carousel-item {
        height: 8rem;
        max-height: 9rem;
    }

    .img-carousel {
        height: 8rem;
        max-height: 9rem;
    }
}