#lista-carrito .list-group-item {
    background: #2c2c2c;
    border-radius: 1.5rem !important;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

#lista-carrito .list-group-item:hover {
    background: #3c3c3c;
    transform: scale(1.02);
}

#lista-carrito .btn-eliminar {
    transition: color 0.3s ease;
}

#lista-carrito .btn-eliminar:hover {
    color: #ff4c4c;
}

.modal-content {
    border-radius: 1rem !important;
}

.modal-header,
.modal-footer {
    background-color: #1c1c1c;
}

.modal-body {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ffbb33 transparent;
}

.modal-body::-webkit-scrollbar {
    width: 8px;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #ffbb33;
    border-radius: 20px;
}