#navContainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar{
    background-color: hwb(60 56% 44% / 0.6);
    height: 65px;
}

#homeLink{
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
}

#homeLink:hover{
    color: white;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

#womenLink,
#menLink,
#kidsLink {
    transition: all 0.3s ease-in-out; 
    font-size: 1.2rem;
}

#womenLink:hover,
#menLink:hover,
#kidsLink:hover {
    color: #867960;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

#profileLink,
#loginLink,
#logoutLink,
#registerLink{
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
}

#profileLink:hover,
#loginLink:hover,
#logoutLink:hover,
#registerLink:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}
